html,
body {
  margin: 0;
  padding: 0;
  background-color: #b2dbc0;
  font-family: "Noto Serif", serif;
}

div {
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-container {
  height: 100%;
  max-height: 800px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  display: flex;
  aspect-ratio: 1/2;
  position: relative;
  overflow: hidden;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  border-radius: 15px;
}
.main-container.greet-visible #modal-greet {
  display: block;
}
.main-container.greet-visible #front-greet {
  display: block;
}
.main-container .modal {
  background-color: rgba(87, 87, 87, 0.5);
}
.main-container .front-greet {
  background-color: rgba(24, 24, 24, 0.9);
  color: #fff;
  border-color: #fff;
}
.main-container.family .modal {
  background-color: rgba(53, 38, 60, 0.5);
}
.main-container.family .front-greet {
  background-color: rgba(53, 38, 60, 0.9);
  color: #fff;
  border-color: #fff;
}
.main-container.woman .modal {
  background-color: rgba(192, 53, 167, 0.5);
}
.main-container.woman .front-greet {
  background-color: rgba(192, 53, 167, 0.9);
  color: #fff;
  border-color: #fff;
}
.main-container.man .modal {
  background-color: rgba(9, 129, 152, 0.5);
}
.main-container.man .front-greet {
  background-color: rgba(9, 129, 152, 0.9);
  color: #fff;
  border-color: #fff;
}
@media screen and (min-width: 450px) {
  .main-container {
    box-shadow: 0 20px 20px 10px rgba(26, 41, 29, 0.2);
    border: 4px solid rgb(205, 53, 207);
    border-style: inset;
  }
}
@media screen and (max-height: 650px) {
  .main-container {
    display: none;
  }
}

.front-greet {
  font-family: "Wellfleet", monospace;
  position: absolute;
  z-index: 30;
  left: 20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  padding: 20px;
  background: transparent;
  color: transparent;
  border-radius: 10px;
  letter-spacing: -2px;
  border: 1px solid #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-color: transparent;
  display: none;
  font-size: 12px;
  bottom: 50%;
  transform: translate3d(0, 50%, 0);
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.disclaimer {
  text-align: center;
  color: #fff;
  width: 80%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 50px 20px;
  background-color: #08917c;
  box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-height: 650px) {
  .disclaimer {
    display: flex;
  }
}

.scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  height: 50%;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 2s ease-out, filter 2s 0.2s ease-out;
}
.panel__1 {
  background-image: url("../assets/panel_01.png");
  background-position: top left;
}
.panel__2 {
  background-image: url("../assets/panel_02.png");
  background-position: top right;
}
.panel__3 {
  background-image: url("../assets/panel_03.png");
  background-position: bottom left;
}
.panel__4 {
  background-image: url("../assets/panel_04.png");
  background-position: bottom right;
}

.modal {
  display: flex;
  z-index: -30;
  height: 100%;
  width: 100%;
  padding: 50px;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal.active {
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 30;
  opacity: 1;
}
.modal__content {
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgba(26, 3, 68, 0.65);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.modal__content.active {
  opacity: 1;
}
.modal__button {
  position: absolute;
  background: rgb(54, 4, 61);
  padding: 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 50%, 10px);
  border: none;
}
.modal__entry {
  margin-bottom: 10px;
}

.icon {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}
.icon__help {
  background-image: url(../assets/icons/help.svg);
}
.icon__date {
  background-image: url(../assets/icons/date.svg);
}
.icon__map {
  background-image: url(../assets/icons/map.svg);
}
.icon__envelope {
  width: 45px;
  height: 45px;
  background-image: url(../assets/icons/envelope.svg);
}
.icon__clothes {
  background-image: url(../assets/icons/clothes.svg);
}
.icon__close {
  background-image: url(../assets/icons/close.svg);
}
.icon__sad {
  background-image: url(../assets/icons/sad.svg);
}

a {
  text-decoration: none;
  background-color: aqua;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
}

p {
  margin: 10px 0;
}

.scene-1 {
  z-index: 10;
}
.scene-1__animation {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-image: url("../assets/animated_petals.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  transition: opacity 1s 0.8s ease-in, filter 1s 0.8s ease-in;
}
.scene-1__background {
  height: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.scene-1__centered-content {
  z-index: 2;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scene-1__petal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 10px);
  transition: opacity 0.5s;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.scene-1__petal.active {
  opacity: 0;
}
.scene-1 .petal-halo {
  animation-name: halo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: right;
  filter: brightness(1) blur(1px) saturate(200%);
}
.scene-1__top-text {
  background-image: url("../assets/hana_text.png");
  width: 60px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
.scene-1__top-kanji {
  background-image: url("../assets/hana_kanji.png");
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
.scene-1__bottom-kanji {
  background-image: url("../assets/mi_kanji.png");
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
.scene-1__bottom-text {
  background-image: url("../assets/mi_text.png");
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
}
.scene-1__petal {
  background-image: url("../assets/main_petal.png");
  width: 40px;
  height: 40px;
  background-size: cover;
}
.scene-1.animating .panel__1 {
  transform: translate3d(-100%, -100%, 0) scale3d(1.5, 1.5, 1.5);
  filter: blur(5px);
}
.scene-1.animating .panel__2 {
  transform: translate3d(100%, -100%, 0) scale3d(1.5, 1.5, 1.5);
  filter: blur(5px);
}
.scene-1.animating .panel__3 {
  transform: translate3d(-100%, 100%, 0) scale3d(1.5, 1.5, 1.5);
  filter: blur(5px);
}
.scene-1.animating .panel__4 {
  transform: translate3d(100%, 100%, 0) scale3d(1.5, 1.5, 1.5);
  filter: blur(5px);
}
.scene-1.animating .scene-1__animation {
  opacity: 0;
  filter: blur(1px);
}
.scene-1.animating .front-greet {
  opacity: 0;
  transform: translate3d(-200%, 50%, 0);
}
.scene-1.animating .scene-1__top-text {
  transform: translate3d(0, -100%, 0) scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}
.scene-1.animating .scene-1__top-kanji {
  transform: translate3d(0, -50%, 0) scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}
.scene-1.animating .scene-1__bottom-kanji {
  transform: translate3d(0, 50%, 0) scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}
.scene-1.animating .scene-1__bottom-text {
  transform: translate3d(0, 100%, 0) scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}
.scene-1.animating .petal-halo {
  animation-name: none;
  opacity: 0;
}

.scene-2 {
  z-index: 5;
}
.scene-2.active {
  z-index: 20;
}
.scene-2 > * {
  opacity: 0;
}
.scene-2__info {
  background-color: #e54ae9;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 55px;
  top: 73px;
  border: solid 2px white;
  color: white;
  line-height: 0px;
  vertical-align: middle;
  box-shadow: 0 1px 10px 3px rgba(91, 47, 0, 0.5);
  font-weight: 800;
  transition: opacity 0.5s 2s ease-in, transform 0.5s 2s ease-in;
  transform: scale3d(1.5, 1.5, 1.5);
  z-index: 10;
  padding: 3px;
}
.scene-2__info.active {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.scene-2__info.pressed {
  animation: none;
}
.scene-2__hana {
  height: 100%;
  width: 100%;
  background-image: url("../assets/second_state/hana.png");
  background-size: contain;
  background-position: center 100px;
  background-repeat: no-repeat;
  transform: scale3d(1.2, 1.2, 1.2);
  transition: opacity 0.5s 0.2s ease-in, transform 0.5s 0.2s ease-in;
}
@media screen and (max-height: 700px) {
  .scene-2__hana {
    background-size: cover;
  }
}
.scene-2__years-text {
  height: 200px;
  width: 50px;
  background-image: url(../assets/second_state/years.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translate3d(100px, -50%, 0);
  transition: opacity 0.5s 0.7s ease-in, transform 0.5s 0.7s ease-in;
}
.scene-2__hana-text {
  height: 80px;
  width: 200px;
  background-image: url(../assets/second_state/hana_text.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 50px;
  transform: scale3d(1.2, 1.2, 1.2);
  transition: opacity 0.5s 0.5s ease-in, transform 0.5s 0.5s ease-in;
}
.scene-2__bottom-branch {
  height: 250px;
  width: 250px;
  background-image: url(../assets/second_state/bottom_branch.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale3d(1.2, 1.2, 1.2) translate3d(-100px, 50px, 0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.scene-2__top-branch {
  height: 120px;
  width: 250px;
  background-image: url(../assets/second_state/top_branch.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  transform: scale3d(1.2, 1.2, 1.2) translate3d(100px, -50px, 0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
.scene-2__main-text-background {
  background-image: url(../assets/second_state/main_text_background.png);
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  z-index: -1;
  width: 250px;
  height: 400px;
  left: 20px;
  transform: translate3d(0, 50px, 0);
  transition: transform 0.8s 0.8s ease-in, opacity 0.8s 0.8s ease-in;
}
.scene-2__date-text {
  width: 50px;
  background-image: url(../assets/second_state/data_text.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 97px;
  top: 71px;
  height: 300px;
  z-index: 1;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.3s 1.5s ease-in, opacity 0.3s 1.5s ease-in;
}
.scene-2__place-text {
  width: 50px;
  background-image: url(../assets/second_state/place_text.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 40px;
  left: 41px;
  top: 107px;
  height: 300px;
  z-index: 1;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.3s 1.7s ease-in, opacity 0.3s 1.7s ease-in;
}
.scene-2__icons-text {
  width: 50px;
  background-image: url(../assets/second_state/dress_icons.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  left: 143px;
  top: 76px;
  height: 120px;
  z-index: 1;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.3s 1.3s ease-in, opacity 0.3s 1.3s ease-in;
}
.scene-2__formal-text {
  width: 50px;
  background-image: url(../assets/second_state/formal_text.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 180px;
  height: 180px;
  top: 74px;
  z-index: 1;
  transform: translate3d(0, 20px, 0);
  transition: transform 0.3s 1s ease-in, opacity 0.3s 1s ease-in;
}
.scene-2.animating .scene-2__hana {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.scene-2.animating .scene-2__top-branch {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
.scene-2.animating .scene-2__bottom-branch {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
.scene-2.animating .scene-2__hana-text {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.scene-2.animating .scene-2__years-text {
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}
.scene-2.animating .scene-2__main-text-background {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.scene-2.animating .scene-2__icons-text, .scene-2.animating .scene-2__place-text, .scene-2.animating .scene-2__date-text, .scene-2.animating .scene-2__formal-text {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.scene-2.animating .scene-2__info {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

#modal-greet,
#front-greet {
  display: none;
}

@keyframes halo {
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(50%, -25%, 10px);
    filter: blur(1px);
  }
  90% {
    opacity: 0;
    transform: scale3d(2, 2, 2) translate3d(50%, -25%, 10px);
  }
  100% {
    opacity: 0;
    transform: scale3d(4, 4, 4) translate3d(50%, -25%, 10px);
    filter: blur(5px);
  }
}
@keyframes jump {
  0% {
    transform: translate3d(50%, -40%, 10px);
  }
  48% {
    transform: translate3d(50%, -80%, 10px);
  }
  50% {
    transform: translate3d(50%, -80%, 10px);
  }
  52% {
    transform: translate3d(50%, -80%, 10px);
  }
  100% {
    transform: translate3d(50%, -40%, 10px);
  }
}
@keyframes bounce {
  0% {
    transform: scale3d(1, 1, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  45% {
    transform: scale3d(1.25, 1.25, 1.25);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}/*# sourceMappingURL=main.css.map */